@using Buriza.Web.Components.Common

@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="@AppStateService.IsDarkMode" Theme="BurizaTheme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<main>
    <Header/>
    @Body
</main>