@using Buriza.Web.Components.Common

@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="@AppStateService.IsDarkMode" Theme="BurizaTheme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<main class="bg-[url('/images/background/background_dark.webp')] bg-center">
    <Header/>
    @Body
</main>